<div class="tt-new-trip__section">

    <h2 class="tt-heading tt-heading__primary">
        Add your trip!
    </h2>

    <h3 class="tt-heading__secondary">
        Title
        <input class="tt-field tt-field__input" type="text" ng-model="app.data.trip_info.title">
    </h3>

    <h3 class="tt-heading__secondary">
        Days
        <input class="tt-field tt-field__input" type="text" ng-model="app.data.trip_info.days">
    </h3>

    <div>
        <h3 class="tt-heading__secondary">
            Season
        </h3>
        <label class="tt-heading__secondary">
            Spring
            <input class="tt-checkbox" type="checkbox" ng-model="app.data.trip_info.seasons.spring">
        </label>
        <label class="tt-heading__secondary">
            Summer
            <input class="tt-checkbox" type="checkbox" ng-model="app.data.trip_info.seasons.summer">
        </label>
        <label class="tt-heading__secondary">
            Fall
            <input class="tt-checkbox" type="checkbox" ng-model="app.data.trip_info.seasons.fall">
        </label>
        <label class="tt-heading__secondary">
            Winter
            <input class="tt-checkbox" type="checkbox" ng-model="app.data.trip_info.seasons.winter">
        </label>
    </div>

    <div>
        <h3 class="tt-heading__secondary">
            Types
        </h3>
        <label class="tt-heading__secondary">
            Family
            <input class="tt-checkbox" type="checkbox" ng-model="app.data.trip_info.activity_types.family">
        </label>

        <label class="tt-heading__secondary">
            Adventure
            <input class="tt-checkbox" type="checkbox" ng-model="app.data.trip_info.activity_types.adventure">
        </label>

        <label class="tt-heading__secondary">
            Romance
            <input class="tt-checkbox" type="checkbox" ng-model="app.data.trip_info.activity_types.romance">
        </label>
    </div>


    <div class="tt-submit-btn">
        <button class="tt-buttons__item btn-lg" ng-click="app.createTrip()">
            Add my cities
        </button>
    </div>

</div>
